@charset "utf-8";
/* CSS Document */

/*HEADER*/



.header {padding: 9px 100px 9px 10px; 
	     box-shadow: 0 0px 37px 0 rgba(0,2,0,0.1)}

.logo {float: left; 
	   height: 100px; 
	   width: 90px;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus 
{
    
	background-color: rgb(231, 231, 231);
   
	color: rgb(85, 85, 85);

}

li.dropdown:hover > .dropdown-menu {

    display: block;

}
.header-item ul li a {padding-right: 1.5rem !important; 
	          padding-left: 1.5rem !important; 
	          color:#34495e !important;
	          font-size: 16px;
	          font-weight: 500;}

.header-item ul li a.active {color: #80429c !important;}

.header-item ul li a:hover {color: #80429c !important; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-toggle1::after {
  display:none !important;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}


.dropdown2 {margin-left: -40px !important;}
/*BODY*/

.list ul li {list-style: none;
             letter-spacing: 2px;}

.list ul li  {font-size: 20px;}

.list1 p {margin-right: 30px;
         font-size: 28px;
         margin-bottom: 12px;}

.card1 {border:none !important;
        border-radius:0 !important;}


.center{position: absolute;
    top: 50%;
    left: 50%; 
	text-align:center;
    transform: translateX(-50%) translateY(-50%);}
	
.card-img-overlay1 {
  position: absolute !important;}

.card-img1 {
  width: 100%;
  border-radius:0;
}

.card p {font-size: 20px;}

@media (max-width:767px){
	
.card p {font-size: 20px;}	
}



@media (min-width:931px){
	
.card p {font-size: 20px;}	
}

@media (min-width:1050px){
	
.card p {font-size: 16px;}	
}

@media (min-width:1287px){
	
.card p {font-size: 20px;}	
}

@media (min-width:1525px){
	
.card p {font-size: 24px;}	
}
	   
@media (min-width:1644px){
	
.card p {font-size: 26px;}	
}

@media (min-width:1762px){
	
.card p {font-size: 28px;}	
}